-
  const aboutData = [
    {
      name: translate.sec6.ceo.name,
      position: translate.sec6.ceo.position,
      about: translate.sec6.ceo.about,
      src: 'img/Evgenii.jpg',
      srcset: 'img/Evgenii@2x.jpg 2x'
    },
    {
      name: translate.sec6.cio.name,
      position: translate.sec6.cio.position,
      about: translate.sec6.cio.about,
      src: 'img/Michail.jpg',
      srcset: 'img/Michail@2x.jpg 2x'
    }
  ]

mixin sec6Slide(cls)
  +sliderSlide('sec6')(class=cls)
    .sec6__slider-slide-inner&attributes(attributes)
      block

mixin people
  .sec6__people
    img(src="img/icon_people.svg").sec6__people-icon.sec6__people-icon_team
    img(src="img/icon_100.svg").sec6__people-icon.sec6__people-icon_amount

mixin about
  .sec6__about&attributes(attributes)
    h3
      != translate.sec6.title
    p
      != translate.sec6.paragraph_1
    p
      != translate.sec6.paragraph_2
    .sec6__button-wrap
      +button()
          != translate.sec6.contactUsButton

mixin sec6Slider(_mobile)
  -
    const sliderCls = _mobile ? 'sec6__slider_mobile' : 'sec6__slider_desktop'
  +slider('sec6', {pagination: {invert: true}, scrollbar: {invert: true}})(class=sliderCls)
    if !_mobile
      +sec6Slide('sec6__slider-slide_main')
        +about.sec6__about_desktop
    each item in aboutData
      -
        const { name, position, about, src, srcset } = item
      +sec6Slide.sec6__slider-slide-photo
        .sec6__frame
          img(src=src srcset=srcset).sec6__photo
        .sec6__slider-slide-info
          p.text-m.sec6__slider-name
            strong
              !=name
          p
            em
              !=position
          p
            !=about
    +sec6Slide.sec6__people-wrap
      .sec6__frame
        +people
        p.text-m.sec6__slider-name.sec6__people-title
          strong
            != translate.sec6.programmers
      .sec6__slider-slide-info
        p.text-m.sec6__slider-name
          strong
            != translate.sec6.programmers
      +button.sec6__people-button
        != translate.sec6.contactUsButton

+section(id=menu[2].href).sec6.color-white
  +container
    +about.sec6__about_tablet
    +sec6Slider(true)
    +sec6Slider
  img(src="./img/our_skills.svg").sec6__skills