-
  const sec7Data = [
    {
      title: translate.sec7.businessEnvironment.title,
      text: translate.sec7.businessEnvironment.text,
      techno: 'Java Play, Java Spring, React JS, Kafka, Postgres',
      hours: '20 000',
      src: 'ds.png',
      alt: translate.sec7.businessEnvironment.title,
      href: 'https://dasreda.ru/'
    },
    {
      title: translate.sec7.sberkredo.title,
      text: translate.sec7.sberkredo.text,
      techno: 'Java Play, AKKA, Java Spring, React JS, React Native, Kafka, Postgres, Docker, Kubernetes',
      hours: '12 000',
      src: 'sk.png',
      alt: translate.sec7.sberkredo.title,
      href: 'https://sberkredo.ru/',
      class: 'sk'
    },
    {
      title: translate.sec7.cpa.title,
      text: translate.sec7.cpa.text,
      techno: 'Ruby on rails, React JS, Postgres ',
      hours: '8 000',
      src: 'cpa.png',
      alt: translate.sec7.cpa.title,
      href: 'https://partners.dasreda.ru/'
    },
    {
      title: translate.sec7.legalCycle.title,
      text: translate.sec7.legalCycle.text,
      techno: 'Java card JCOP, Java, Ethereum solidity, React JS, Postgres',
      hours: '3 400',
      src: 'legalcycle.png',
      alt: translate.sec7.legalCycle.title,
      href: 'www.legalcycle.org'
    },
    {
      title: translate.sec7.pgk.title,
      text: translate.sec7.pgk.text,
      techno: 'Java Play, AKKA, ReactJS, Postgres, Cloudera, Redis',
      hours: '1 500',
      src: 'pgk.png',
      alt: translate.sec7.pgk.title,
      href: 'http://www.pgkweb.ru/'
    }
  ]

+section(id=menu[3].href).sec7.bg-white
  +container
    .sec7__head
      h3.sec7__title
        != translate.sec7.title
      a(href="./docs/pfactory_pres_web.pdf" target="_blank").sec7__save-presentation-link
        +icon('icon_download').sec7__save-presentation-icon
        span
          != translate.sec7.downloadPresentationButton

    +slider('sec7', {pagination: {invert: false }})
      each item in sec7Data
        +sliderSlide('sec7')
          .sec7__slider-slide-inner
            a(href=item.href target="_blank").sec7__slider-slide-block.sec7__slider-slide-block_image
              img(src=`img/${item.src}` alt=item.alt class=item.class ? `sec7__slider-image_${item.class}` : '').sec7__slider-image
            .sec7__slider-slide-block
              .sec7__slider-slide-description
                p.text-m.fw-bold.sec7__slider-slide-title
                  != item.title
                p
                  != item.text
                p.sec7__slider-slide-technologies
                  strong.
                    #{translate.sec7.technologies}: 
                  |
                  |
                  != item.techno
                span
                  strong.
                    #{translate.sec7.hours}: 
                  |
                  |
                  != item.hours